@keyframes typing {
  from {
    width: 0;
  }
}

.note-title__title {
  width: 26ch;
  animation: typing 3s steps(20), step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
}

/* containers */
.note-title__maincontainer {
  height: 28vh;
}

.note-title__sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: center;
  width: 100%;
}

/* inputs */
.note-title__input-container {
  width: 100%;
  max-width: 800px;
}

#input_title {
  width: 100%;
  padding: 0.7em;
  border: none;
  box-shadow: 2px 5px 8px #888888;
  border: none;
}

#input_title:focus {
  outline-width: 0;
}


@media(max-width: 500px){
  .note-title__title {
    width: 26ch;
    animation: typing 3s steps(20), step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.3em;
  }
}